html {
  height: 100vh;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(62,28,51,0.5), rgba(19,9,8,0.5)), url("stardust.png");
  background-repeat: repeat;
  color: #eeeeee;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  margin-top: 16px;
  margin-bottom: 64px;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.header-item {
  flex-grow: 1;
  text-align: center;
  font-size: 3em;
}

.header-item-selected {
  font-weight: bold;
  text-shadow: 0 0 2px #ffffff;
  text-decoration: underline;
}

#games {
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 1380px;
  justify-content: center;
}

.games-item {
  flex-grow: 1;
  text-align: center;
  padding: 8px 0px;
}

.games-img {
  border-radius:1%;
}
